#contAve,
#contFou {
	display: none;
	transition: 0.8s;
}

#contImg {
	object-fit: cover;
	width: 500px;
}

#zipForm {
	position: relative;
}

#zipList {
	position: absolute;
	max-height: 300px;
	overflow-y: auto;
}

#zipList li:hover {
	background-color: #2c3f60;
	color: #fff;
}

